{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>

<form method='post'>
    <table>
        <tr>
            <td><label for="username">User Name:</label></td>
            <td>
                <input type="text" name="username" value='{{username}}' />
                <span class="error">{{username_error}}</span>
            </td>
        </tr>
            
        <tr>
            <td><label for="password">Password:</label></td>
            <td>
                <input type='password' name='password' value='{{password}}'/>
                <span class="error">{{password_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verifypassword">Verify Password:</label></td>
            <td><input type='password' name='verifypassword' value='{{verifypassword}}' />
                <span class="error">{{verify_password_error}}</span>
            </td>
        </tr>   
        <tr>
            <td><label for="email">Email(optional):</label></td>
            <td><input type='text' name='email' value= '{{email}}' />
                <span class="error">{{email_error}}</span>
            </td>
        </tr>
    </table>
    <input type='submit' />
</form>

{% endblock %}